@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Anchor */
    .an {
        @apply
        inline-flex
        items-center
        border-b-2
        border-transparent
        px-1
        pt-1
        text-sm
        font-medium
        text-white
        hover:border-white
    }
    .an-active {
        @apply
        border-white
        border-b-2
    }

    /* Buttons */
    .btn {
        @apply
        rounded-md
        bg-blue-600
        px-5
        py-2.5
        text-lg
        font-semibold
        text-white
        hover:bg-[#4654A3]
        focus-visible:outline
        focus-visible:outline-2
        focus-visible:outline-offset-2
        focus-visible:outline-blue-600
    }

    .btn-disabled {
        background-image: linear-gradient(rgb(255 255 255/60%) 0 0);
        @apply
        hover:bg-blue-600
        !cursor-not-allowed
    }

    .link {
        @apply
        text-white
        cursor-pointer
        hover:underline
    }

    /* Inputs */
    .input {
        @apply
        block
        max-w-sm
        w-full
        rounded-md
        border-0
        px-3
        py-1.5
        text-gray-900
        shadow-sm
        ring-1
        ring-inset
        ring-gray-300
        placeholder:text-gray-400
        focus:ring-2
        focus:ring-inset
        focus:ring-blue-600
        sm:text-sm
        sm:leading-6
    }

    /* Text */
    .h1 {
        @apply
        text-white
        text-2xl
    }
    .label {
        @apply
        block
        text-sm
        font-medium
        leading-6
        text-white
    }
}
